<div class="container">
  <h2>Select Fields</h2>

  <div cdkDropList id ="todoList" [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="DropListConnectedTo" class="list-todo" >
    <div class="list-item" *ngFor="let item of todo; let i = index" cdkDrag>{{item.title}}</div>
  </div>
</div>

<div class="container">
    <h2>Set form Layout</h2>
  <div cdkDropList id="doneList" [cdkDropListData]="done"  (cdkDropListExited)="doneListExited($event)"
      [cdkDropListConnectedTo]="['todoList']" class="list" (cdkDropListDropped)="drop($event)">
    <div cdkDropListGroup >
      <div class="list-item" *ngFor="let item of done; let i=index"  cdkDrag>




        <div cdkDropList [id]="'droplist-' + i" [cdkDropListData]="item" cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="DropListConnectedTo" [cdkDropListEnterPredicate]="noReturnPredicate" class="example-list " (cdkDropListExited)="doneListExited($event)" (cdkDropListExited)="dragEntered($event)"   (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let timePeriod of item" cdkDrag>
          <div class="timePeriod">
              {{timePeriod.title}}
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
